@model List<GerenciadorFC.Administrativo.Web.Models.CadastroViewModels.ListaContatoViewModels>
<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table id="datatable" class="table table-striped jambo_table bulk_action">
				<thead>
					<tr class="headings">
						<th class="column-title">Codigo </th>
						<th class="column-title">Email</th>
						<th class="column-title">Telefone</th>
						<th class="column-title">Celular</th>
						<th class="column-title">Tipo</th>
						<th class="column-title">Data expiração</th>
						<th class="column-title">Criar login</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
				
						@foreach (var list in Model)
						{
							
								<tr class="even pointer">
									<td>
										<span>@list.Codigo</span>
									</td>
									<td>
										<span>@list.email</span>
									</td>
									<td>
										<span>@list.DDD - @list.Telefone</span>
									</td>
									<td>
										<span>@list.DDDC - @list.Celular</span>
									</td>
									<td>
										<span>@list.Tipo</span>
									</td>
									<td>
										<span>@list.DataExpiracao</span>
									</td>
									<td>
										<a title="Envio de login" onclick="EnviarEmailContato('@list.email',@list.Codigo,'@list.Tipo','@list.DataExpiracao')"><i class="fa fa-envelope"></i></a>
									</td>
									<td>
										<a title="Excluir" onclick="ExcluirContato(@list.Codigo)"><i class="fa fa-remove"></i></a>
									</td>
								</tr>
						}
					


				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
		function ExcluirContato(codigo) {
			$.ajax({
				url: '@Url.Action("ExcluirContato", "CadastroRepLegal" )',
				data: { contato: codigo },
				type: "POST",
				success: function (data, textStatus, XMLHttpRequest) {
					$('#PartialContainer').html(data);
					$("Contato excluido").alert();
			}
		});
	}
	function EnviarEmailContato(email,codigo,tipo,data) {
			$.ajax({
				url: '@Url.Action("EnviarEmailContato", "CadastroRepLegal" )',
				data: { email: email, codigo: codigo, tipo: tipo, data: data },
				type: "POST",
				success: function (data, textStatus, XMLHttpRequest) {
					$('#PartialContainer').html(data);
					$("Acesso enviado").alert();
			}
		});
	}
	$(document).ready(function () {
		setInterval(cadastrarContato, 20000);
	});
</script>