@model GerenciadorFC.Administrativo.Web.Models.CadastroViewModels.ContatoViewModels


	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="form-group">
					<div class="col-sm-6">
						@Html.HiddenFor(m => m.Codigo)
						@Html.HiddenFor(m => m.CodigoPessoa)
						@Html.HiddenFor(m => m.CodigoRepLegal)
						<label asp-for="email" class="control-label">@Html.DisplayNameFor(m => m.email)</label>
						@Html.TextBoxFor(m => m.email, new { @class = "form-control" })
						<span asp-validation-for="email" class="text-danger control-label"></span>
					</div>
					<label asp-for="Site" class="control-label">@Html.DisplayNameFor(m => m.Site)</label>
					<div class="col-sm-6">
						@Html.TextBoxFor(m => m.Site, new { @class = "form-control" })
						<span asp-validation-for="Site" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-1">
						<label asp-for="DDD" class="control-label">@Html.DisplayNameFor(m => m.DDD)</label>
						@Html.TextBoxFor(m => m.DDD, new { @class = "form-control" })
						<span asp-validation-for="DDD" class="text-danger"></span>
					</div>
					<div class="col-sm-3">
						<label asp-for="Telefone" class="control-label">@Html.DisplayNameFor(m => m.Telefone)</label>
						@Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
						<span asp-validation-for="Telefone" class="text-danger"></span>
					</div>
					<div class="col-sm-1">
						<label asp-for="DDDC" class="control-label">@Html.DisplayNameFor(m => m.DDDC)</label>
						@Html.TextBoxFor(m => m.DDDC, new { @class = "form-control" })
						<span asp-validation-for="DDDC" class="text-danger"></span>
					</div>
					<div class="col-sm-3">
						<label asp-for="Celular" class="control-label">@Html.DisplayNameFor(m => m.Celular)</label>
						@Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
						<span asp-validation-for="Celular" class="text-danger"></span>
					</div>
					<div class="col-sm-2">
						<label asp-for="Tipo" class="control-label">@Html.DisplayNameFor(m => m.Tipo)</label>
						<select id="TipoContato" class="form-control">
							<option value="Cobrança">Cobrança</option>
							<option value="Teste">Teste</option>
						</select>
						<span asp-validation-for="Celular" class="text-danger"></span>
					</div>
					<div class="col-sm-2">
						<label asp-for="DataExpiracao" class="control-label">@Html.DisplayNameFor(m => m.DataExpiracao)</label>
						@Html.TextBoxFor(m => m.DataExpiracao, new { @class = "form-control" })
						<span asp-validation-for="DataExpiracao" class="text-danger"></span>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<br />
	<br />
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="rodape-form">					
					<input type="button" id="btnatualiza" class="btn btn-success" value="Cadastrar" onclick="cadastrarContato();" />
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	@if (Model != null)
	{
		
	}

		<script>


	function cadastrarContato() {
		var CodigoRepLegal = $("#CodigoRepLegal").val();
		var email = $("#email").val();
		var Site = $("#Site").val();
		var DDD = $("#DDD").val();
		var Telefone = $("#Telefone").val();
		var DDDC = $("#DDDC").val();
			var Celular = $("#Celular").val();
			var Tipo = $("#TipoContato").val();
			var DataExpiracao = $("#DataExpiracao").val();
			var model = { CodigoRepLegal: CodigoRepLegal, email: email, Site: Site, DDD: DDD, Telefone: Telefone, DDDC: DDDC, Celular: Celular, Tipo: Tipo, DataExpiracao: DataExpiracao };

		 $.ajax({
			 url: '@Url.Action("CadastraContato", "CadastroRepLegal")',
			 data: model,
			cache: false,
			type: "POST",
			dataType: "html",
			success: function (data, textStatus, XMLHttpRequest) {
				$('#PartialContainer').html(data);
			}
		});
			$("#CodigoRepLegal").val('');
			$("#email").val('');
			$("#Site").val('');
			$("#DDD").val('');
			$("#Telefone").val('');
			$("#DDDC").val('');
			$("#Celular").val('');
	}

	$(document).ready(function () {
		setInterval(cadastrarContato, 20000);
	});




		</script>