@model GerenciadorFC.Administrativo.Web.Models.CadastroViewModels.RepresentanteLegalViewModels
@{
	ViewData["Title"] = "Edite de Representante";
}

<h4>Edite de Representante</h4>

<form asp-action="Alterar">
	<div class="row">
		<div class="col-md-12">
			@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
			<div class="row">
				<div class="form-group">
					<div class="col-sm-6">
						@Html.HiddenFor(m => m.CodigoEndereco)
						@Html.HiddenFor(m => m.CodigoPessoa)
						@Html.HiddenFor(m => m.CodigoRepLegal)
						<label asp-for="Nome" class="control-label">@Html.DisplayNameFor(m => m.Nome)</label>
						@Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
						<span asp-validation-for="Nome" class="text-danger control-label"></span>
					</div>
					<label asp-for="CPF" class="control-label">@Html.DisplayNameFor(m => m.CPF)</label>
					<div class="col-sm-6">
						@Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
						<span asp-validation-for="CPF" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-6">
						<label asp-for="RG" class="control-label">@Html.DisplayNameFor(m => m.RG)</label>
						@Html.TextBoxFor(m => m.RG, new { @class = "form-control" })
						<span asp-validation-for="RG" class="text-danger"></span>
					</div>
					<div class="col-sm-6">
						<label asp-for="Passaporte" class="control-label">@Html.DisplayNameFor(m => m.Passaporte)</label>
						@Html.TextBoxFor(m => m.Passaporte, new { @class = "form-control" })
						<span asp-validation-for="Passaporte" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-6">
						<label asp-for="DataExpedicaoPassaporte" class="control-label">@Html.DisplayNameFor(m => m.DataExpedicaoPassaporte)</label>
						@Html.TextBoxFor(m => m.DataExpedicaoPassaporte, new { @class = "form-control" })
						<span asp-validation-for="DataExpedicaoPassaporte" class="text-danger"></span>
					</div>
					<div class="col-sm-6">
						<label asp-for="DataExpedicaoRG" class="control-label">@Html.DisplayNameFor(m => m.DataExpedicaoRG)</label>
						@Html.TextBoxFor(m => m.DataExpedicaoRG, new { @class = "form-control datepicker" })
						<span asp-validation-for="DataExpedicaoRG" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-1">
						<label asp-for="TipoEnd" class="control-label">@Html.DisplayNameFor(m => m.TipoEnd)</label>
						@Html.TextBoxFor(m => m.TipoEnd, new { @class = "form-control" })
						<span asp-validation-for="TipoEnd" class="text-danger"></span>
					</div>
					<div class="col-sm-10">
						<label asp-for="Logradouro" class="control-label">@Html.DisplayNameFor(m => m.Logradouro)</label>
						@Html.TextBoxFor(m => m.Logradouro, new { @class = "form-control" })
						<span asp-validation-for="Logradouro" class="text-danger"></span>
					</div>
					<div class="col-sm-1">
						<label asp-for="Numrero" class="control-label">@Html.DisplayNameFor(m => m.Numrero)</label>
						@Html.TextBoxFor(m => m.Numrero, new { @class = "form-control" })
						<span asp-validation-for="Numrero" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-4">
						<label asp-for="Complemento" class="control-label">@Html.DisplayNameFor(m => m.Complemento)</label>
						@Html.TextBoxFor(m => m.Complemento, new { @class = "form-control" })
						<span asp-validation-for="Complemento" class="text-danger"></span>
					</div>
					<div class="col-sm-4">
						<label asp-for="Bairro" class="control-label">@Html.DisplayNameFor(m => m.Bairro)</label>
						@Html.TextBoxFor(m => m.Bairro, new { @class = "form-control" })
						<span asp-validation-for="Bairro" class="text-danger"></span>
					</div>
					<div class="col-sm-4">
						<label asp-for="Cidade" class="control-label">@Html.DisplayNameFor(m => m.Cidade)</label>
						@Html.TextBoxFor(m => m.Cidade, new { @class = "form-control" })
						<span asp-validation-for="Cidade" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="form-group">
					<div class="col-sm-1">
						<label asp-for="UF" class="control-label">@Html.DisplayNameFor(m => m.UF)</label>
						@Html.TextBoxFor(m => m.UF, new { @class = "form-control" })
						<span asp-validation-for="UF" class="text-danger"></span>
					</div>
					<div class="col-sm-3">
						<label asp-for="CEP" class="control-label">@Html.DisplayNameFor(m => m.CEP)</label>
						@Html.TextBoxFor(m => m.CEP, new { @class = "form-control" })
						<span asp-validation-for="CEP" class="text-danger"></span>
					</div>
					<div class="col-sm-8">
						<label class="control-label"></label>
						<input type="hidden" />
					</div>
				</div>
			</div>

		</div>
	</div>
	<br />
	<br />
	@if (Model.CodigoRepLegal != 0)
	{
		<div class="row">
			<div class="col-md-12">
				<div id="idaccordion" class="accordion">x
					@Html.Partial("_NovoContato")
				</div>	
			</div>
		</div>
	}
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="rodape-form">
					<a class="btn btn-info" href="@Url.Action("Lista","CadastroRepLegal")" title="">Voltar</a>
					<input type="submit" name="submit" class="btn btn-success" value="Cadastrar" />
				</div>
			</div>
		</div>
	</div>
</form>