@model List<GerenciadorFC.Administrativo.Web.Models.CadastroViewModels.ListaRepLegalViewModels>

@{
	ViewData["Title"] = "Representantes";
}

<h4>Representantes</h4>

<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table id="datatable" class="table table-striped jambo_table bulk_action">
				<thead>
					<tr class="headings">
						<th class="column-title">Codigo </th>
						<th class="column-title">Nome</th>
						<th class="column-title">CPF</th>						
						<th class="column-title">Data Contfy </th>
						<th class="column-title"></th>
						<th class="column-title"></th>
					</tr>
				</thead>

				<tbody>
					@foreach (var list in Model)
					{
						<tr class="even pointer">
							<td>
								<span>@list.Codigo</span>
							</td>
							<td>
								<span>@list.Nome</span>
							</td>
							<td>
								<span>@list.CPF</span>
							</td>
							<td>
								<span>@list.DataInclisao</span>
							</td>
							<td>
								<a href="@Url.Action("Edite","CadastroRepLegal", new { rep = list.Codigo})"><i class="fa fa-edit"></i></a>
							</td>
							<td>
								<a href="@Url.Action("Lista","Cadastro")"><i class="fa fa-remove"></i></a>
							</td>
						</tr>
					}

				</tbody>
			</table>
		</div>
	</div>
</div>

