@model List<GerenciadorFC.Administrativo.Web.Models.ContabilidadeViewModels.Faturamento.ListaDadosEmissaoNotaViewModels>
<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table id="datatable" class="table table-striped jambo_table bulk_action">
				<thead>
					<tr class="headings">
						<th class="column-title">Codigo </th>
						<th class="column-title">Prefeitura</th>						
						<th></th>
					</tr>
				</thead>

				<tbody>

					@foreach (var list in Model)
					{
						<tr class="even pointer">
							<td>
								<span>@list.Codigo</span>
							</td>
							<td>
								<span>@list.Prefeitura</span>
							</td>						
							<td>
								<a title="Excluir" onclick="Excluir(@list.Codigo)"><i class="fa fa-remove"></i></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		@Html.Partial("_PessoaCodigoServico", Model[0].PessoaCodigoServico)
	</div>
</div>
	<script>
	function Excluir(codigo) {
			$.ajax({
				url: '@Url.Action("ExcluirDadosEmissao", "Cadastro" )',
				data: { codigo: codigo },
				type: "POST",
				success: function (data, textStatus, XMLHttpRequest) {
					$('#PartialContainer').html(data);
					$("Contato excluido").alert();
			}
		});
	}
	</script>
