@model List<GerenciadorFC.Administrativo.Web.Models.ContabilidadeViewModels.DAS.DadosDeDASViewModels>

<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table id="datatable" class="table table-striped jambo_table bulk_action">
				<thead>
					<tr class="headings">
						<th class="column-title">ID </th>
						<th class="column-title">Codigo contribuinte</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>

					@foreach (var list in Model)
					{
						<tr class="even pointer">
							<td>
								<span>@list.Codigo</span>
							</td>
							<td>
								<span>@list.CodigoContribuite</span>
							</td>
							<td>
								<a title="Excluir" onclick="Excluir(@list.Codigo)"><i class="fa fa-remove"></i></a>
							</td>
							<td>
								<a title="Anexo" onclick="Anexo(@list.Codigo)" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-edit"></i></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Anexo</h4>
			</div>
			<div class="modal-body" id="bodymodal">
				<div id="formAnexo">

				</div>
				<div id="listaAnexo">

				</div>
			</div>			

		</div>
	</div>
</div>
<script>
	function Anexo(codigo) {
		debugger;
		@*$.ajax({
			url: '@Url.Action("_DadosAnexoLista", "Cadastro" )',
			data: { codigo: codigo },
			type: "GET",
			cache: false
		}).done(function (result) {
			$("#listaAnexo").html(result);
		});*@
		$.ajax({
			url: '@Url.Action("_DadosAnexo", "Cadastro" )',
			data: { codigo: codigo },
			type: "GET",
			cache: false
		}).done(function (result) {
			$("#formAnexo").html(result);
		});
	}
</script>