@model List<GerenciadorFC.Administrativo.Web.Models.CadastroViewModels.ListaPessoaViewModels>

@{
	ViewData["Title"] = "Clientes";
}

<h2>Clientes</h2>


<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table table-striped jambo_table bulk_action">
				<thead>
					<tr class="headings">
						<th>
							<div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
						</th>
						<th class="column-title">Codigo </th>
						<th class="column-title">CNPJ </th>
						<th class="column-title">Nome Fantasia </th>
						<th class="column-title">Razão Social</th>
						<th class="column-title">Data Contfy </th>
						<th class="column-title"></th>
						<th class="column-title" ></th>						
					</tr>
				</thead>

				<tbody>
					@foreach (var list in Model)
					{
					<tr class="even pointer">
						<td class="a-center ">
							<div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
						</td>
						<td>
							<span>@list.Codigo</span>
						</td>
						<td>
							<span>@list.Documento</span>
						</td>
						<td>
							<span>@list.Nome</span>
						</td>
						<td>
							<span>@list.Razao</span>
						</td>
						<td>
							<span>@list.DataInclusao</span>
						</td>
						<td>
							<span></span>
						</td>
						<td>
							<span></span>
						</td>
					</tr>
					}
						
				</tbody>
			</table>
		</div>
	</div>
</div>

