@model GerenciadorFC.Administrativo.Web.Models.ContabilidadeViewModels.Faturamento.NotaFiscalViewModels
@{
    ViewData["Title"] = "Faturamento";
}

<h4>Faturamento</h4>

<form asp-action="IncluirDadosNfe">
	<div class="row">
		<div class="col-md-12">
			@if (Model.Incluido == true)
			{
				<div class="alert alert-success alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Tudo certo!</strong> Dados incluidos com sucesso.
				</div>
			}
			@if (Model.NaoIncluido == true)
			{
				<div class="alert alert-danger alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<strong>Ocorreu erro!</strong> Os dados não foram incluidos.
				</div>
			}
			<div class="row">
				<div class="form-group">
					<div class="col-sm-2">
						@Html.HiddenFor(m => m.CodigoPessoa)
						<label class="control-label">@Html.DisplayNameFor(m => m.DataEmissao)</label>
						<div class="form-group">
							<a data-toggle="tooltip" data-placement="Right" title="Digite a data do faturamento ou da nota fiscal.">
								<div class='input-group myDatepicker'>
									<input type='text' asp-for="DataEmissao" class="form-control" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-2">
						<label asp-for="ValorTotal" class="control-label">@Html.DisplayNameFor(m => m.ValorTotal)</label>
						<a data-toggle="tooltip" data-placement="Right" title="Neste campo coloque o valor de faturamento no mês ou soma das notas fiscais emitidas.">
							@Html.TextBoxFor(m => m.ValorTotal, new { @class = "form-control" })
						</a>
						<span asp-validation-for="ValorTotal" class="text-danger control-label"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-2">
						<label asp-for="NumeroNFE" class="control-label">@Html.DisplayNameFor(m => m.NumeroNFE)</label>
						<a data-toggle="tooltip" data-placement="Right" title="Caso seja uma única nota fiscal, informa aqui seu número.">
							@Html.TextBoxFor(m => m.NumeroNFE, new { @class = "form-control" })
						</a>
						<span asp-validation-for="NumeroNFE" class="text-danger control-label"></span>
					</div>
				</div>
			</div>
			<br />
			<br />
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<div class="rodape-form">
							<a class="btn btn-info" href="@Url.Action("Index","Home")" title="">Voltar</a>
							<input type="submit" name="submit" class="btn btn-success" value="Salvar" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>
