@model GerenciadorFC.Administrativo.Web.Models.Cadastro.PessoaViewModels
@{
	ViewData["Title"] = "Cobranca";
}
<form asp-action="CallPagSeguro">
	<h2>Mensalidade</h2>
	@Html.HiddenFor(m => m.numeroFuncionario)
	@Html.HiddenFor(m => m.Nome)
	@Html.HiddenFor(m => m.Documento)
	@Html.HiddenFor(m => m.CodigoCobranca)


	<div class="modal fade bd-example-modal-lg Cobranca" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">

					<h4 class="modal-title" id="myModalLabel">Fucionários</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-group">
							<div class="col-sm-6">
								<label class="control-label">Quantos funcionários?</label>
								<div class="form-group">
									<a data-toggle="tooltip" data-placement="Right" title="Digite a quantidade de funcionários, caso não tenha deixe o campo 0.">
										<div class='input-group'>

											<input type="number" class="form-control" id="qtdeFuncionario" />
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" id="saveFuncionario" class="btn btn-primary" data-dismiss="modal">Salvar</button>
				</div>
			</div>
		</div>
	</div>

	@if (Model.TipoPessoa == 0)
	{


		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel" style="height:600px;">
					<div class="x_title">
						<h2>Plano para empresa de serviços</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="#">Settings 1</a>
									</li>
									<li>
										<a href="#">Settings 2</a>
									</li>
								</ul>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<div class="col-md-12">
								<!-- price element -->
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="pricing">
										<div class="title">
											<h2>Plano mensal</h2>
											<h1>R$ 69,90</h1>
										</div>
										<div class="x_content">
											<div class="">
												<div class="pricing_features">
													<ul class="list-unstyled text-left">
														<li><i class="fa fa-check text-success"></i> Emissão de nota fiscal</li>
														<li><i class="fa fa-check text-success"></i> Visualizãção de relatórios</li>
														<li><i class="fa fa-check text-success"></i> Geração da contabilidade</li>
														<li><i class="fa fa-check text-success"></i> Obrigações fiscais</li>
													</ul>
												</div>
											</div>
											<div class="pricing_footer">
												@*<a href="@Url.Action("CallPagSeguro","Cobranca", new { valor = 69.90 , documento = Model.Documento,  periodo = 1, nome = Model.Nome })" class="btn btn-info btn-block" id="#plano6990" style="background:#0277BD;" role="button">Contratar</a>*@
												<button class="btn btn-info btn-block" style="background:#0277BD;" role="button" name="Contratar" id="Contratar" type="submit" value="servico">Contratar</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12" id="pnlvlrFunc">
									<div class="pricing">
										<div class="title">

										</div>
										<div class="x_content">
											<div class="">
												<div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<div class="tile-stats">
														<div class="icon"><i class="fa fa-check-square-o"></i></div>
														<div class="count">R$ <label id="valorTotalFunc"></label></div>
														<h3>Valor dos funcionários</h3>
														<p>Isto será somado ao plano que for escolhido.</p>
													</div>
												</div>
											</div>
											<div class="pricing_footer">

											</div>
										</div>
									</div>
								</div>
								<!-- price element -->
								<!-- price element -->
								@*<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="pricing">
											<div class="title">
												<h2>Plano Trimestral</h2>
												<h1>R$ 203,90</h1>
											</div>
											<div class="x_content">
												<div class="">
													<div class="pricing_features">
														<ul class="list-unstyled text-left">
															<li><i class="fa fa-check text-success"></i> Emissão de nota fiscal</li>
															<li><i class="fa fa-check text-success"></i> Visualizãção de relatórios</li>
															<li><i class="fa fa-check text-success"></i> Geração da contabilidade</li>
															<li><i class="fa fa-check text-success"></i> Obrigações fiscais</li>
														</ul>
													</div>
												</div>
												<div class="pricing_footer">
													<a href="@Url.Action("CallPagSeguro","Cobranca", new { valor = 203.90 , documento = Model.Documento, periodo = 3, nome = Model.Nome, numeroFuncionario = Model.numeroFuncionario })" class="btn btn-info btn-block" id="#plano6990" style="background:#0277BD;" role="button">Contratar</a>
												</div>
											</div>
										</div>
									</div>*@
								<!-- price element -->
								<!-- price element -->
								@*<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="pricing">
											<div class="title">
												<h2>Plano Semestral</h2>
												<h1>R$ 403,90</h1>
											</div>
											<div class="x_content">
												<div class="">
													<div class="pricing_features">
														<ul class="list-unstyled text-left">
															<li><i class="fa fa-check text-success"></i> Emissão de nota fiscal</li>
															<li><i class="fa fa-check text-success"></i> Visualizãção de relatórios</li>
															<li><i class="fa fa-check text-success"></i> Geração da contabilidade</li>
															<li><i class="fa fa-check text-success"></i> Obrigações fiscais</li>
														</ul>
													</div>
												</div>
												<div class="pricing_footer">
													<a href="@Url.Action("CallPagSeguro","Cobranca", new { valor = 403.90 , documento = Model.Documento,  periodo =  6, nome = Model.Nome, numeroFuncionario = Model.numeroFuncionario })" class="btn btn-info btn-block" id="#plano6990" style="background:#0277BD;" role="button">Contratar</a>
												</div>
											</div>
										</div>
									</div>*@
								<!-- price element -->
								<!-- price element -->
								@*<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="pricing">
											<div class="title">
												<h2>Plano Anual</h2>
												<h1>R$ 799,90</h1>
											</div>
											<div class="x_content">
												<div class="">
													<div class="pricing_features">
														<ul class="list-unstyled text-left">
															<li><i class="fa fa-check text-success"></i> Emissão de nota fiscal</li>
															<li><i class="fa fa-check text-success"></i> Visualizãção de relatórios</li>
															<li><i class="fa fa-check text-success"></i> Geração da contabilidade</li>
															<li><i class="fa fa-check text-success"></i> Obrigações fiscais</li>
														</ul>
													</div>
												</div>
												<div class="pricing_footer">
													<a href="@Url.Action("CallPagSeguro","Cobranca", new { valor = 799.90 , documento = Model.Documento, periodo = 12, nome = Model.Nome, numeroFuncionario = Model.numeroFuncionario })" class="btn btn-info btn-block" id="#plano6990" style="background:#0277BD;" role="button">Contratar</a>
												</div>
											</div>
										</div>
									</div>*@
								<!-- price element -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	}
	else
	{
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel" style="height:600px;">
					<div class="x_title">
						<h2>Plano para comércio</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="#">Settings 1</a>
									</li>
									<li>
										<a href="#">Settings 2</a>
									</li>
								</ul>
							</li>

						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<div class="col-md-12">
								<!-- price element -->
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="pricing">
										<div class="title">
											<h2>Plano mensal</h2>
											<h1>R$ 99,90</h1>
										</div>
										<div class="x_content">
											<div class="">
												<div class="pricing_features">
													<ul class="list-unstyled text-left">
														<li><i class="fa fa-check text-success"></i> Emissão de nota fiscal</li>
														<li><i class="fa fa-check text-success"></i> Visualizãção de relatórios</li>
														<li><i class="fa fa-check text-success"></i> Geração da contabilidade</li>
														<li><i class="fa fa-check text-success"></i> Obrigações fiscais</li>
													</ul>
												</div>
											</div>
											<div class="pricing_footer">
												@*<a href="@Url.Action("CallPagSeguro","Cobranca", new { valor = 99.90 , documento = Model.Documento,  periodo = 1, nome = Model.Nome, numeroFuncionario = Model.numeroFuncionario })" class="btn btn-info btn-block" style="background:#0277BD;" role="button">Contratar</a>*@
												<button class="btn btn-info btn-block" style="background:#0277BD;" role="button" name="Contratar" id="Contratar" type="submit" value="comercio">Contratar</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12" id="pnlvlrFunc">
									<div class="pricing">
										<div class="title">

										</div>
										<div class="x_content">
											<div class="">
												<div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
													<div class="tile-stats">
														<div class="icon"><i class="fa fa-check-square-o"></i></div>
														<div class="count">R$ <label id="valorTotalFunc"></label></div>
														<h3>Valor dos funcionários</h3>
														<p>Isto será somado ao plano que for escolhido.</p>
													</div>
												</div>
											</div>
											<div class="pricing_footer">

											</div>
										</div>
									</div>
								</div>
								<!-- price element -->
								<!-- price element -->
								@*<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="pricing">
											<div class="title">
												<h2>Plano Trimestral</h2>
												<h1>R$ 290,90</h1>
											</div>
											<div class="x_content">
												<div class="">
													<div class="pricing_features">
														<ul class="list-unstyled text-left">
															<li><i class="fa fa-check text-success"></i> Emissão de nota fiscal</li>
															<li><i class="fa fa-check text-success"></i> Visualizãção de relatórios</li>
															<li><i class="fa fa-check text-success"></i> Geração da contabilidade</li>
															<li><i class="fa fa-check text-success"></i> Obrigações fiscais</li>
														</ul>
													</div>
												</div>
												<div class="pricing_footer">
													<a href="@Url.Action("CallPagSeguro","Cobranca", new { valor = 290.90 , documento = Model.Documento,  periodo = 3, nome = Model.Nome, numeroFuncionario = Model.numeroFuncionario })" class="btn btn-info btn-block" style="background:#0277BD;" role="button">Contratar</a>
												</div>
											</div>
										</div>
									</div>*@
								<!-- price element -->
								<!-- price element -->
								@*<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="pricing">
											<div class="title">
												<h2>Plano Semestral</h2>
												<h1>R$ 580,90</h1>
											</div>
											<div class="x_content">
												<div class="">
													<div class="pricing_features">
														<ul class="list-unstyled text-left">
															<li><i class="fa fa-check text-success"></i> Emissão de nota fiscal</li>
															<li><i class="fa fa-check text-success"></i> Visualizãção de relatórios</li>
															<li><i class="fa fa-check text-success"></i> Geração da contabilidade</li>
															<li><i class="fa fa-check text-success"></i> Obrigações fiscais</li>
														</ul>
													</div>
												</div>
												<div class="pricing_footer">
													<a href="@Url.Action("CallPagSeguro","Cobranca", new { valor = 580.90 , documento = Model.Documento, periodo = 6 , nome = Model.Nome, numeroFuncionario = Model.numeroFuncionario })" class="btn btn-info btn-block" style="background:#0277BD;" role="button">Contratar</a>
												</div>
											</div>
										</div>
									</div>*@
								<!-- price element -->
								<!-- price element -->
								@*<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="pricing">
											<div class="title">
												<h2>Plano Anual</h2>
												<h1>R$ 1160,90</h1>
											</div>
											<div class="x_content">
												<div class="">
													<div class="pricing_features">
														<ul class="list-unstyled text-left">
															<li><i class="fa fa-check text-success"></i> Emissão de nota fiscal</li>
															<li><i class="fa fa-check text-success"></i> Visualizãção de relatórios</li>
															<li><i class="fa fa-check text-success"></i> Geração da contabilidade</li>
															<li><i class="fa fa-check text-success"></i> Obrigações fiscais</li>
														</ul>
													</div>
												</div>
												<div class="pricing_footer">
													<a href="@Url.Action("CallPagSeguro", "Cobranca", new { valor = 1160.90, documento = Model.Documento, periodo = 12, nome = Model.Nome, numeroFuncionario = Model.numeroFuncionario })" class="btn btn-info btn-block" style="background:#0277BD;" role="button">Contratar</a>
												</div>
											</div>
										</div>
									</div>*@
								<!-- price element -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	}
</form>

